package system

config led 'led_wlan2g'
        option name 'WLAN2G'
        option sysfs 'gl-ar750s:white:wlan2g'
        option default '0'
        option trigger 'none'

config led 'led_wlan5g'
        option name 'WLAN5G'
        option sysfs 'gl-ar750s:white:wlan5g'
        option default '0'
        option trigger 'none'

config led 'led_power'
        option default '0'
        option name 'Power'
        option trigger 'none'
        option sysfs 'gl-ar750s:white:power'
